name: Github Pages

on:
  push:
    branches: [master]
    path: 
      - 'packages/web/**'
  pull_request:
    branches: [master]
    path: 
      - 'packages/web/**'

jobs:
  build_vue:
    runs-on: ubuntu-latest
    name: Build Vue
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3

      - name: Build
      
      - run: yarn ci
      - run: yarn build
      
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist